---
---

@import "{{ site.theme }}";

body {
  box-sizing: border-box;
  color:#373737;
  background: #ebdbd;
  font-size: 18px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Avendir light, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
